<div class="edo-tab-content flexcol flex-gap-l">

    <div class="flexcol flex-gap-s">
        <label><b>{{localize 'NEWEDO.Generic.Priorities'}}</b></label>
        <div class="flexrow flex-gap-l nowrap align-center">
            {{toFieldGroup system.schema 'priorities.traits' value=system.priorities.traits classes='stacked'}}
            {{toFieldGroup system.schema 'priorities.skills' value=system.priorities.skills classes='stacked'}}
            {{toFieldGroup system.schema 'priorities.magic' value=system.priorities.magic classes='stacked'}}
            {{toFieldGroup system.schema 'priorities.augments' value=system.priorities.augments classes='stacked'}}
            {{toFieldGroup system.schema 'priorities.background' value=system.priorities.background classes='stacked'}}
        </div>
    </div>

    <div class="flexrow flex-align-start flex-gap-l">
        {{toFieldGroup system.schema 'details.gender' value=system.details.gender}}
        {{toFieldGroup system.schema 'details.age' value=system.details.age}}
    </div>

    <div class="flexrow flex-align-start flex-gap-l">
        {{toFieldGroup system.schema 'details.height' value=system.details.height}}
        {{toFieldGroup system.schema 'details.weight' value=system.details.weight}}
    </div>

    {{toFieldInput system.schema 'description' value=system.description}}

</div>