<div class="edo-tab-content">
    {{!-- Data for loading character skills into the sheet tab --}}
    <div class="flexrow skill-lists">
        {{#each skills as | side key |}}
            <ol style="padding: 0; margin: 0;">
                {{#each side as | trait key |}}
                    <li class="items-header flexrow">
                        <span>{{trait.label}}</span>
                        <span>Dice</span>
                    </li>
                    <ol class="items-list edo-skill-group">
                        {{#each trait.list as | skill key |}}
                            {{#if (or @root.isEditMode (gt skill.system.rank 0))}}
                                <li class="item flexrow edo-skill-item" data-item-uuid="{{skill.uuid}}">
                                    <a class="align-start" data-action="useItem">
                                        {{skill.name}}
                                    </a>
                                    <div class="flexrow nowrap">
                                        {{#each skill.system.ranks as | value index |}}
                                            <button class="edo-skill-dice-button" data-action="skillDice" data-index="{{index}}" value="{{value}}">
                                                {{#if (not (eq value 0))}}
                                                    {{value}}
                                                {{/if}}
                                            </button>
                                        {{/each}}
                                    </div>
                                </li>
                            {{/if}}
                        {{/each}}
                    </ol>
                {{/each}}
            </ol>
        {{/each}}
    </div>
</div>