{{!--
TODO:
    Make classes to help distinguish between the different types of values on the sheet
    style the sheet to keep it more compact compared to the bulky box it is now
--}}

<div class="flexcol flex-gap-m">
    {{#each parts as | part key |}}

        {{!-- Default input types --}}
        {{#if (eq part.element 'input')}}
            <div class="edo-formula-group form-group" data-part="{{part.element}}" data-tags="{{#each part.tags as |tag|}}{{tag}}|{{/each}}">
                {{!-- Get the parts type and label --}}
                <label><b>{{localize part.label}}</b></label>
                <div class="flexrow flex-gap-s">
                    <input type="checkbox" name="active" class="flexshrink" {{checked part.active}}>
                    <input type="text" name="value" value="{{part.value}}" disabled>
                </div>
            </div>
        {{/if}}

        {{!-- Stepped inputs --}}
        {{#if (eq part.element 'stepper')}}
            <div class="edo-formula-group form-group" data-part="{{part.element}}" data-tags="{{#each part.tags as |tag|}}{{tag}}|{{/each}}">
                <label>{{localize part.label}}</label>
                <div class="flexrow clicker flex-group-center flex-gap-s" name="clicker">
                    <button type="button" name="decrease" class="flexshrink"><i class="fa-solid fa-minus"></i></button>
                    <input type="number" name="value" class="align-center" value="{{part.value}}" disabled />
                    <button type="button" name="increase" class="flexshrink"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        {{/if}}

        {{!-- Select inputs --}}
        {{#if (eq part.element 'selector')}}
            <div class="edo-formula-group form-group" data-part="{{part.element}}" data-tags="{{#each part.tags as |tag|}}{{tag}}|{{/each}}">
                <select style="flex: 1">
                    {{#each part.select_options as | option |}}
                        <option value="{{option.value}}" {{selected option.default}}>{{localize option.label}}</option>
                    {{/each}}
                </select>
                <div class="flexrow flex-gap-s">
                    <input type="checkbox" name="active" class="flexshrink" {{checked part.active}}>
                    <input type="text" name="value" value="{{part.value}}" disabled>
                </div>
            </div>
        {{/if}}

    {{/each}}

    {{!-- Optional roll modifiers, anything that isnt accounted for can be manually done here --}}
    <div class="form-group edo-formula-group" data-part="custom" data-tags="">
        <label>{{localize 'NEWEDO.Generic.Situational.long'}}</label>
        <input type="text" name="value" />
    </div>
</div>