{{!--
TODO:
    Make classes to help distinguish between the different types of values on the sheet
    style the sheet to keep it more compact compared to the bulky box it is now
--}}

<div class="flexcol flex-gap-m">
    {{#each parts as | part key |}}
        {{#if (not part.stepper)}}
            <div class="edo-formula-group form-group" data-formula-type="{{part.type}}">
                {{!-- Get the parts type and label --}}
                <label><b>{{localize part.label}}</b></label>
                <div class="flexrow flex-gap-s">
                    <input type="checkbox" name="active" class="flexshrink" {{checked part.active}}>
                    <input type="text" name="value" value="{{part.value}}" disabled>
                </div>
            </div>
        {{/if}}
    {{/each}}

    {{#each parts as | part key |}}
        {{#if part.stepper}}
            <div class="edo-formula-group form-group" data-formula-type="{{part.type}}">
                <label>{{localize part.label}}</label>
                <div class="flexrow clicker flex-group-center flex-gap-s" name="clicker">
                    <button type="button" name="decrease" class="flexshrink"><i class="fa-solid fa-minus"></i></button>
                    <input type="number" name="value" class="align-center" value="{{part.value}}" disabled />
                    <button type="button" name="increase" class="flexshrink"><i class="fa-solid fa-plus"></i></button>
                </div>
            </div>
        {{/if}}
    {{/each}}

    {{!-- Optional roll modifiers, anything that isnt accounted for can be manually done here --}}
    <div class="form-group" data-formula="extra">
        <label>{{localize 'NEWEDO.Generic.Situational.long'}}</label>
        <input type="text" name="value" />
    </div>
</div>