<div class="edo-tab-content edo-item-settings edo-augment-settings flex-gap-m">
    <label><b>Noise:</b></label>
    <div class="flexrow flex-gap-m">
        {{systemFieldGroup system 'noise.hrt.value' stacked=true classes="centered"}}
        {{systemFieldGroup system 'noise.per.value' stacked=true classes="centered"}}
        {{systemFieldGroup system 'noise.pow.value' stacked=true classes="centered"}}
        {{systemFieldGroup system 'noise.pre.value' stacked=true classes="centered"}}
        {{systemFieldGroup system 'noise.ref.value' stacked=true classes="centered"}}
        {{systemFieldGroup system 'noise.sav.value' stacked=true classes="centered"}}
    </div>

    {{systemFieldGroup system 'rank.value' label="Rank"}}
    {{systemFieldGroup system 'biofeedback' label="Rank"}}
</div>