<div class="tab-content">
    <div class="form-group">
        <label>Skill:</label>
        {{{ selector.skill }}}
    </div>

    {{toFieldGroup system.schema 'cost' value=system.cost label='cost'}}

    <div class="form-group">
        <label>Kami:</label>
    </div>

    {{toFieldGroup system.schema 'tn' value=system.tn label='TN'}}

    <div class="form-group">
        <label>Action cost:</label>
        <select name="system.action">
            <option value="Full">Full</option>
            <option value="Quick">Quick</option>
        </select>
    </div>

    <div class="form-group">
        <label>Duration:</label>
        <div class="group-details">
            <input type="checkbox" name="system.rules.rollRange" {{checked system.rules.rollDuration.active}}>
            <input type="number" placeholder="Duration" name="system.duration" value="{{system.duration}}" />
            <select>
                <option>Round</option>
                <option>Second</option>
                <option>Minute</option>
                <option>Hour</option>
            </select>
        </div>
    </div>
</div>