<div class="edo-tab-content edo-item-settings edo-rote-settings flex-gap-m">
    <div class="flexrow flex-gap-m">
        {{{ selector.skill }}}
        {{log system}}
        {{toFieldGroup schema 'action' value=system.action label='Action'}}
    </div>

    {{toFieldGroup schema 'casting.cost' value=system.casting.cost label='Legend Cost'}}
    {{toFieldGroup schema 'tn' value=system.tn label='TN'}}
</div>