<div class="edo-tab-contet edo-item-settings edo-skill-settings flex-gap-m flexcol">
    {{toFieldGroup schema 'trait' value=system.trait}}
    <div class="form-group">
        <label>Ranks:</label>
        <div class="form-fields flexrow">
            <div class="flexrow flexshrink flex-gap-m nowrap">
                {{#each system.ranks as | rank index |}}
                    <button style="min-width: 2.4em;" data-action="changeSkillRank" data-index="{{index}}">
                        {{rank}}
                    </button>
                {{/each}}
            </div>
        </div>
    </div>
    {{toFieldGroup schema 'bonus' value=system.bonus label='Bonus Formula'}}
    {{toFieldGroup schema 'useTraitRank' value=system.useTraitRank label='Use Trait Dice'}}
    {{toFieldGroup schema 'isWeaponSkill' value=system.isWeaponSkill label='Is a weapon skill'}}
</div>